{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if name is defined %}
        <h1>Hello {{ name }}! ✅</h1>
    {% endif %}
    {# the image lives at "public/images/pikachu.png" #}
    <img src="{{ asset('images/pikachu.png') }}" alt="Symfony!" style="width: 25%;"/>
</div>
{% endblock %}
